@import "tailwindcss";

#root {
  height: 100vh;

  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 1rem; */
  /* padding-bottom: 0; */
  text-align: center;
}

@theme {
  --color-background: #252f39;
  --color-secondary-bg: #1c262f;
  --color-tertiary-bg: #B7B7B7;
  --color-accent: #16202A;
  --color-secondary-accent: #FAA860;
  --color-text-color: #f3f3f3;
  --color-text-secondary: #848e98;
}

@layer base {
  body {
    @apply bg-background text-text-color
  }

  h1 {
    @apply text-3xl font-semibold
  }
  h2 {
    @apply text-2xl font-semibold
  }
  h3 {
    @apply text-lg font-semibold
  }

  button {
    @apply 
    hover:brightness-90 hover:cursor-pointer
    active:brightness-80
  }
}

@layer components {
  #root {
    @apply p-4 pb-0 mx-auto lg:p-0 lg:mx-0
  }
}


